<div class="container">
  <h1 class="text-center">Events</h1>
  <div class="row">
    <div class="col">
      <ul>
        <h4> Past events </h4>
          <% Event.past.each do |event| %>
            <li>
              <%= link_to event do %>
                <%= event.event_place %> / <%= event.event_date %>
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
    <div class="col">
      <ul>
        <h4> Future events </h4>

        <% Event.future.each do |event| %>
          <li>
            <%= link_to event do %>
              <%= event.event_place %> / <%= event.event_date %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
